# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=stock-prices

# PostgreSQL
POSTGRES_DB=stocks
POSTGRES_USER=stock_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me
MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET=stock-streaming

# Producer
PRODUCER_INTERVAL_SECONDS=1
